.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="/") Poli-talk
      .nav-collapse
        ul.nav
          li
            a(href="/") Home
          li
            a(href="/people") People
          li
            a(href="/topics") Topics
          li.active
            a(href="/keywords") Keywords
          li
            a(href="/classifications") Classifications
.container
  .hero-unit
    h1 Keywords

  table.table
    thead
      tr
        th Date
        th Keywords (cloud)
        th Keywords (content analysis)
        th Keywords (idf-ngram 1)
        th Keywords (idf-ngram 2)
        th Keywords (idf-ngram 3)
        th Keywords (idf-ngram 4)
        th Keywords (idf-ngram combo)
    tbody
      each keyword, rank in keywords
        tr
          td!=keyword.extracted.toDateString().replace(/ /g, '&nbsp;')
          td= keyword.keywords
          td= keyword.keywords_yahoo
          td= keyword.keywords_natural_1
          td= keyword.keywords_natural_2
          td= keyword.keywords_natural_3
          td= keyword.keywords_natural_4
          td= keyword.keywords_natural_combo
